.header {
  max-width: 1279px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);

  // box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.05);

  & a {
    margin-right: auto;
  }

  & figure {
    margin: 0;
  }
  &Menu {
    align-content: center;
    & ul {
      list-style: none;
      // justify-content: space-between;
      & li {
        display: inline-block;
        padding: 10px 20px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        &:hover {
          color: var(--classic-green);
        }
      }
    }
  }
  &Button {
    margin: 0 30px;
    padding: 9px 25px;
    background-color: var(--classic-green);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #004a31;
    }
  }
}

// ****** RESPONSIVE MENU ****** /

.faBars {
  color: #000;
}

.nav-links-mobile {
  display: none;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .header {
    width: 100%;
    &Menu {
      & ul {
        margin: 0;
        padding-left: 0;
        color: white;

        & li {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navLinks:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .faTimes {
    color: #fff;
    font-size: 2rem;
  }

  .navLinksMobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .navLinksMobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }
}
